.timing-setup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.timing-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  margin-bottom: 10px;
  position: relative;
}


.day-dropdown {
  padding: 11px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 400px;

    margin-bottom: 0;
  flex: 1 1 150px;
}

.shift-container {
  display: flex;
  gap: 10px;

}

.shift-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
  min-width: 400px;
  text-align: center;
  transition: 0.2s ease-in-out;
  position: relative;
}

.shift-box:hover {
  background-color: #f0f0f0;
}

.shift-box.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.time-inputs {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}

.time-inputs input {
  padding: 10px 40px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.remove-button {
  position:static;
  right: 12px;
  width: 28px;
  height: 28px;
  line-height: 28px;
    transform: translateY(20%);


}



